.headerContainer {
    position: fixed;
    width: 100%;
    min-height: 54px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: .5em 2em;
    box-shadow: 0px 1px 6px rgba(0, 0, 1, 0.202);
    justify-content: space-between;
}

.headerContainer ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    gap: 1em;
    justify-content: flex-end;
    align-items: center;
}

.headerContainer ul li {
    font-size: 16px;
}

.userSection {
    display: flex;
    gap: .5em;
    align-items: center;
    width: 100%;
}

.userDescription h3 {
    font-weight: normal;
    color: black;
}

.userDescription p {
    color: #797979;
    font-size: 12px;
}

.navigablesContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.aboutItem, .interestsItem, .contactItem {
    transition: all 0.2s;
    cursor: pointer;
}

.aboutItem:hover {
    border-bottom: 2px solid #00ba38;
}

.interestsItem:hover {
    border-bottom: 2px solid #0055ff9d;
}

.contactItem:hover {
    border-bottom: 2px solid #ff8c00bf;
}

.burgerMenu {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

@media (max-width: 640px) {
    .burgerMenu {
        display: block;
    }

    .navigablesContainer {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 64px;
        right: 0;
        background-color: whitesmoke;
        width: 100%;
        box-shadow: 0px 1px 6px rgba(0, 0, 1, 0.202);
        padding: 1em;
    }

    .navigablesContainer.showMenu {
        display: flex;
    }

    .navigablesContainer ul {
        flex-direction: column;
        width: 100%;
    }

    .navigablesContainer ul span {
        margin: 0.5em 0;
    }
}